.navbar {
    border: 1px solid gray;
    width: 100%;
    clear: both;
}

.page_name {
    float: left;
    background-color: black;
    color: white;
    font-size:42pt;
    width: fit-content;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.links {
    float: left;
    font-size: 10pt;
    margin-right: 10px;
}

.query {
    float: left;
    padding-top: 30px;
    margin-left: 10px;
    height: 80px;
    vertical-align: middle;
}

.camera_select {
    white-space: nowrap;
}