.page {
    width: 100%;
    margin: 30px;
}
.schedule, .azure_files, .scheduleRaw, .leftMargin, .rightSide {
    font-family: monospace;
    white-space: pre;
    margin: 10px;
}
.image {
    width: 500px;
}
.imageLink {
    cursor: pointer;
}

.leftSide {
    float: left;
    margin: 20px;
    width: 650px;
}
.rightSide {
    float: left;
    margin: 20px;
}
.leftMargin {
    float: left;
    width: 50px;
}