.page {
    width: 100%;
    width: 1433px;
    padding: 30px;
    clear: both;
}
.schedule, .azure_files, .scheduleRaw, .leftMargin, .rightSide {
    font-family: monospace;
    white-space: pre;
    margin: 10px;
}

.scheduleRaw {
    clear: both;
}

.image {
    width: 500px;
}
.imageLink {
    cursor: pointer;
}

.leftSide {
    float: left;
    margin: 10px;
    width: 700px;
}
.rightSide {
    position: fixed;
    left: 800px;
    margin: 20px;
}
.leftMargin {
    float: left;
    width: 70px;
    overflow: hidden;
}
.camera_files {
    float:left;
    width: 300px;
    margin: 20px;
}
