  .slideshow, .slideshow_loading {
    display: inline-block;
    text-align:center;
    margin: 20px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 25px;
  }

  .slideshow img, .slideshow_loading img {
      max-width: 100vw;
      max-height: 60vh;
      border-radius: 50px;
  }

  .vcr_controls button {
    font-size:18pt;
    margin: 5px;
    padding: 0;
    border: none;
  }

  .vcr_controls button:active {
    transform: translate(3px,3px);
  } 

  .datetime {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
  }

  .touchBarCell {
    font-size: 10pt;
  }

  .touchBar {
    display: inline-block;
    max-width: 410px;
    word-break: break-all;
    font-size: 10pt;
    cursor: pointer;
    height: min-content;
    width: max-content;
    margin-top:5px;
  }

  .touchBarCell::selection {
    background: white;
  }

  .hourSelect {
    font-size: 10pt;
    font-weight: 100;
  }

  .serial {
    font-size: 20pt;
    font-weight: 500;
  }

  .image_holder {
    position: relative;
}

.countdown {
    position:absolute;
    right: 50px;
    bottom: 30px; 
    font-size:20pt;
    font-family: sans-serif;
    color: #EEFFBB;
}

.preloaded_image img {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 100px;
  border-radius: 10px;

}

.timelapse_metadata {
  font-size:9pt;
  margin-bottom: 20px;
}

.no_photos {
  width: 100%;
  font-size: 20pt;
  text-align: center;
  padding-top:200px;
  padding-left: 100px;
  color: gray;
}

.thumbnails {
  float: left;
  width: 120px;
  padding: 10px;
  font-size: 8pt;
  font-style: italic;
}

.thumbnails img {
  border-radius: 10px;
  width: 100%;
}

.addToSlack {
  height: 30px;
  cursor: pointer;
  border-radius: 0 !important;
  border: 0;
}

.post_to_slack {
  width: 100%;
  padding: 20px;
  font-size: 10pt;
}

.post_to_slack textarea {
  margin: 10px;
}

.slack_button_active, .slack_button_inactive {
  margin: 5px;
  background-image: url('/addToSlack.png');
  height: 30px;
  width: 151px;

}

.slack_button_active {
  background-color: #2F9CFF;
  color: white;
  cursor: pointer;
  border: 1px solid lightgray;
}

.slack_button_inactive {
  background-color: #EEEEEE;
  color: black;
  cursor: default;
  border: 0;
}