  .slideshow, .slideshow_loading {
    display: inline-block;
    text-align:center;
    margin: 20px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 25px;
  }

  .slideshow img, .slideshow_loading img {
      max-width: 100vw;
      max-height: 60vh;
      border-radius: 50px;
  }

  .slideshow button {
    font-size:18pt;
    margin: 5px;
    padding: 0;
    border: none;
  }

  .slideshow button:active {
    transform: translate(3px,3px);
  } 

  .datetime {
    font-family: 'Courier New', Courier, monospace;
  }

  .touchBarCell {
    font-size: 10pt;
  }

  .touchBar {
    display: inline-block;
    max-width: 410px;
    word-break: break-all;
    font-size: 10pt;
    cursor: pointer;
    height: min-content;
    width: max-content;
    margin-top:5px;
  }

  .touchBarCell::selection {
    background: white;
  }

  .hourSelect {
    font-size: 10pt;
    font-weight: 100;
  }

  .serial {
    font-size: 20pt;
    font-weight: 500;
  }


  .image_holder {
    position: relative;
}

.image_holder img {
    width: 100%;
}
.countdown {
    position:absolute;
    right: 50px;
    bottom: 30px; 
    font-size:20pt;
    font-family: sans-serif;
    color: #EEFFBB;
}

.preloaded_image img {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 100px;
  border-radius: 10px;

}

.timelapse_metadata {
  font-size:9pt;
}

.no_photos {
  width: 100%;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  padding-top:200px;
  padding-left: 100px;
}