
  
  .video_div {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    clear: both;
    text-align: center;
  }

  .video_div video {
      width: 640px;

  }