
  .timelapse {
    text-align:center;
  }

  .timelapse img {
      max-width:95%;
      border-radius: 50px;
  }

  .progress_bar {
    display: inline-block;
    width: min-content;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .left_bar, .right_bar {
    display: inline-block;
    border-radius: 20px;
    height: 24px;
  }
  
  .left_bar {
    background-color: red;
  }
  
  .right_bar {
    background-color: black;
  }