.content {
    clear: both;
}

.slideshow_holder {
    float: left;
    left: 0;
    width: 500px;
}

.nice_links{
    float: left;
    width: 300px;
    border: 1px solid lightgray;
    margin: 20px;
    padding: 20px;
    font-size: 10pt;
}

.link{
    cursor: pointer;
    display: inline-block;
    padding: 3px;
    font-family:'Courier New', Courier, monospace;
    font-size: 10pt;
}

