.content {
    clear: both;
}

.slideshow_holder {
   float: left
}

.nice_links{
    float: left;
    width: 300px;
    padding: 20px;
    font-size: 10pt;
    margin-left: 30px;
    border: 1px solid black;
}

.link{
    cursor: pointer;
    display: inline-block;
    padding: 3px;
    font-family:'Courier New', Courier, monospace;
    font-size: 10pt;
}

